Package: dev.und3fy.ipad2phone
Name: ipad2phone
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 0.0.1
Architecture: iphoneos-arm64
Description: Allow iPad app installation on any device
Maintainer: und3fined
Author: daniel
Section: Tweaks
